*, *::before, *after {
  box-sizing: border-box;
}

html {background-color:#FFFFFF;
}

body {
  background-color: #2B95D6;
  font-family: SF Pro Display; helvatic; sans-serif;
  height: 667px; /* iphone 8 height*/
  margin: 0 auto;
  width: 375px; /*iphone 8 width*/
}

.search-options {
  background-color: #ECECEC;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  height: 46px;
  margin-left: 20px;
  margin-right: 20px;
}

.bus-info-row {
  display: inline-block;
  background-color: #ECECEC;
  border-bottom: 10px solid #2B95D6;
  border-top: 5px solid #2B95D6;
  width: 375px;
  height: 59px;
}

.fa-bus {
  color: #2B95D6;
}
.status-bar {
  height: 20px;
}

.container {
  height: 100%;
  margin: auto;
  width: 100%;
}

.nav {
  padding: 10px 0 10px 10px;
}

.nav h2 {
 float: right;
 margin-right: 10px;
 color: #FFFFFF;
 font-size: 17px;
}


.bus-info {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}

.location {
  background-color:#ECECEC;
  margin: auto;
  line-height: 20px;
  border-bottom: 1px solid #2B95D6;
  display: inline-block;
  width: 365px;
  padding: 10px 0 10px 10px;
}

.content h2 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.content h3 {
  font-size: 14px;

}
.content {
display: inline-block;
}

.time {
  text-align: right;
  float:right;
  font-size: 14px;
  display: inline-block;
  padding-right: 20px;
}

.time h2 {
  font-weight: bold;
}

.time h3 {
}
