*, *::before, *after {
  box-sizing: border-box;
}

html {background-color:#FFFFFF;
}

body {
  background-color: #2B95D6;
  font-family: SF Pro Display; helvatic; sans-serif;
  height: 667px; /* iphone 8 height*/
  margin: 0 auto;
  width: 375px; /*iphone 8 width*/
}

.selection > div {
  width: 90%;
  margin: auto;
}

.selection .search-input div {
  display: inline-block;
  position: relative;
}

.selection .start-end {
  width: 15px;
  height: 75px;
  padding-top: 20px;
}

.selection .form div {
  display: block;
}
.selection .form {
  float: right;
  width: 95%;
}

.selection .form input {
  height: 20px;
  width: 300px;
  margin: 5px 0px 5px 0px;
  padding: 5px;
  border-radius: 5px;
}

.selection .form form {
  margin-left: 6px;
}

.selection .search-options {
  background-color: #FFFFFF;
  border-radius: 5px;
  height: 46px;
  text-align: center;
  margin-bottom: 5px;
}

.selection .option {
  display: inline-block;
  color: #4F4F4F;
  width: 30%;
  height: 100%;
  font-size: 14px;
  position: relative;
}

.selection .option span {
  margin: 15px;
  display: inline-block;
}

.selection .suburb {
  border-left: 2px solid #979797;
  border-right: 2px solid #979797;
}

.selection .stop {
  background-color: #ECECEC;
  font-weight: bold;
  margin: -3px;
  width: 125px;
  border-radius: 0px 5px 5px 0px;
}

.info .bus-info-row {
  background-color: #FFFFFF;
  border-bottom: 10px solid #2B95D6;
  border-top: 5px solid #2B95D6;
  padding-top: 10px;
  padding-left: 20px;
  height: 59px;
}

.info .left {
  float: left;
}

.info .right {
  float: right;
}

.info .bus-status {
  display: inline-block;
  width: 75%;
  margin-left: 15px;
  vertical-align: middle;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.location:hover, div:hover, a:hover {
  background-color: #c3dff1;
  cursor: pointer;
}

.fa-chevron-left {
  color: #FFFFFF;
}
.fa-bus {
  color: #2B95D6;
  font-size: 50px;
}
.status-bar {
  height: 20px;
}

.container {
  height: 100%;
  margin: auto;
  width: 100%;
}

.nav {
  padding: 10px 0 10px 10px;
}

.nav h2 {
 float: right;
 margin-right: 10px;
 color: #FFFFFF;
 font-size: 17px;
}


.bus-info {
  display: inline-block;
  position: relative;
  top: -5px;
  left: 20px;
  margin-right: 10px;
  width: 30px;

  font-size: 24px;
  font-weight: bold;
  color: #2B95D6;
}

.location {
  background-color:#FFFFFF;
  margin: auto;
  line-height: 20px;
  border-bottom: 1px solid #2B95D6;
  display: inline-block;
  width: 375px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 14px;

}
.content {
display: inline-block;
margin-left: 10%;
}

.time {
  text-align: right;
  float:right;
  font-size: 14px;
  display: inline-block;
  padding-right: 20px;
}

h2 {
  font-weight: bold;
}

h3 {
}

.reroute {
  color: #FF0000;
  font-weight: bold;
  text-transform: uppercase;
}

.outofservice {
  color: #979797;
  font-weight: bold;
}

.NoService .location {
  background-color: #ECECEC;

}

.NoService h1 {
  color: #979797;
}

.NoService h2 {
  color: #979797;
}

.NoService h3 {
  color: #979797;
}

.buschange h1 {
  color: #FF0000;
}

.buschange h2 {
  color: #FF0000;
}
